<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Element Plus with ESM Import Map</title>

        <script type="importmap">
            {
                "imports": {
                    "vue": "https://unpkg.com/vue@3.2.45/dist/vue.esm-browser.js",
                    "element-plus": "https://cdn.jsdelivr.net/npm/element-plus@latest/dist/index.full.min.mjs",
                    "element-plus/": "https://cdn.jsdelivr.net/npm/element-plus@latest/",
                    "@element-plus/icons-vue": "https://cdn.jsdelivr.net/npm/@element-plus/icons-vue@2/dist/index.min.js"
                }
            }
        </script>

        <link rel="stylesheet" href="../styles.css">

        <style scoped>
            :global(h2#card-usage ~ .example .example-showcase) {
                background-color: var(--el-fill-color) !important;
            }

            .el-statistic {
                --el-statistic-content-font-size: 28px;
            }

            .statistic-card {
                height: 100%;
                padding: 20px;
                border-radius: 4px;
                background-color: var(--el-bg-color-overlay);
            }

            .statistic-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                font-size: 12px;
                color: var(--el-text-color-regular);
                margin-top: 16px;
            }

            .statistic-footer .footer-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .statistic-footer .footer-item span:last-child {
                display: inline-flex;
                align-items: center;
                margin-left: 4px;
            }

            .green {
                color: var(--el-color-success);
            }

            .red {
                color: var(--el-color-error);
            }

            .text-large {
                font-size: 28px;
                margin-left: 1em;
            }

        </style>
    </head>

    <body>
        <div id="app">
            <div>
                <el-container>
                    <el-header>

                        <el-menu :default-active="activeIndex" mode="horizontal" :ellipsis="false"
                            @select="handleSelect">
                            <el-menu-item index="0">
                                <img style="width: 100px" src="../button-logo-orange.png" alt="codbex logo" />
                                <span class="text-large font-600 mr-3"> Hestia </span>
                            </el-menu-item>
                            <el-menu-item index="1">Processes</el-menu-item>
                            <el-menu-item index="2">Documents</el-menu-item>
                            <el-sub-menu index="3">
                                <template #title>Workspace</template>
                                <el-menu-item index="3-1">item one</el-menu-item>
                                <el-menu-item index="3-2">item two</el-menu-item>
                                <el-menu-item index="3-3">item three</el-menu-item>
                                <el-sub-menu index="3-4">
                                    <template #title>item four</template>
                                    <el-menu-item index="3-4-1">item one</el-menu-item>
                                    <el-menu-item index="3-4-2">item two</el-menu-item>
                                    <el-menu-item index="3-4-3">item three</el-menu-item>
                                </el-sub-menu>
                            </el-sub-menu>
                            <el-menu-item index="4" disabled>Info</el-menu-item>
                            <el-menu-item index="5">Orders</el-menu-item>
                        </el-menu>

                    </el-header>
                    <el-container>
                        <el-aside width="200px">

                            <el-menu default-active="2" class="el-menu-vertical-demo" @open="handleOpen"
                                @close="handleClose">
                                <el-sub-menu index="1">
                                    <template #title>
                                        <el-icon>
                                            <location />
                                        </el-icon>
                                        <span>Navigator One</span>
                                    </template>
                                    <el-menu-item-group title="Group One">
                                        <el-menu-item index="1-1">item one</el-menu-item>
                                        <el-menu-item index="1-2">item two</el-menu-item>
                                    </el-menu-item-group>
                                    <el-menu-item-group title="Group Two">
                                        <el-menu-item index="1-3">item three</el-menu-item>
                                    </el-menu-item-group>
                                    <el-sub-menu index="1-4">
                                        <template #title>item four</template>
                                        <el-menu-item index="1-4-1">item one</el-menu-item>
                                    </el-sub-menu>
                                </el-sub-menu>
                                <el-menu-item index="2">
                                    <el-icon>
                                        <icon-menu />
                                    </el-icon>
                                    <span>Navigator Two</span>
                                </el-menu-item>
                                <el-menu-item index="3" disabled>
                                    <el-icon>
                                        <document />
                                    </el-icon>
                                    <span>Navigator Three</span>
                                </el-menu-item>
                                <el-menu-item index="4">
                                    <el-icon>
                                        <setting />
                                    </el-icon>
                                    <span>Navigator Four</span>
                                </el-menu-item>
                            </el-menu>

                        </el-aside>
                        <el-container>

                            <el-main>

                                <el-row :gutter="16">
                                    <el-col :span="8">
                                        <div class="statistic-card">
                                            <el-statistic :value="98500">
                                                <template #title>
                                                    <div style="display: inline-flex; align-items: center">
                                                        Daily active users
                                                        <el-tooltip effect="dark"
                                                            content="Number of users who logged into the product in one day"
                                                            placement="top">
                                                            <el-icon style="margin-left: 4px" :size="12">
                                                                <Warning />
                                                            </el-icon>
                                                        </el-tooltip>
                                                    </div>
                                                </template>
                                            </el-statistic>
                                            <div class="statistic-footer">
                                                <div class="footer-item">
                                                    <span>than yesterday</span>
                                                    <span class="green">
                                                        24%
                                                        <el-icon>
                                                            <CaretTop />
                                                        </el-icon>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </el-col>
                                    <el-col :span="8">
                                        <div class="statistic-card">
                                            <el-statistic :value="693700">
                                                <template #title>
                                                    <div style="display: inline-flex; align-items: center">
                                                        Monthly Active Users
                                                        <el-tooltip effect="dark"
                                                            content="Number of users who logged into the product in one month"
                                                            placement="top">
                                                            <el-icon style="margin-left: 4px" :size="12">
                                                                <Warning />
                                                            </el-icon>
                                                        </el-tooltip>
                                                    </div>
                                                </template>
                                            </el-statistic>
                                            <div class="statistic-footer">
                                                <div class="footer-item">
                                                    <span>month on month</span>
                                                    <span class="red">
                                                        12%
                                                        <el-icon>
                                                            <CaretBottom />
                                                        </el-icon>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </el-col>
                                    <el-col :span="8">
                                        <div class="statistic-card">
                                            <el-statistic :value="72000" title="New transactions today">
                                                <template #title>
                                                    <div style="display: inline-flex; align-items: center">
                                                        New transactions today
                                                    </div>
                                                </template>
                                            </el-statistic>
                                            <div class="statistic-footer">
                                                <div class="footer-item">
                                                    <span>than yesterday</span>
                                                    <span class="green">
                                                        16%
                                                        <el-icon>
                                                            <CaretTop />
                                                        </el-icon>
                                                    </span>
                                                </div>
                                                <div class="footer-item">
                                                    <el-icon :size="14">
                                                        <ArrowRight />
                                                    </el-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </el-col>
                                </el-row>

                                <el-row :gutter="16">
                                    <el-col :span="8">
                                        <el-timeline style="max-width: 600px">
                                            <el-timeline-item v-for="(activity, index) in activities" :key="index"
                                                :timestamp="activity.timestamp">
                                                {{ activity.content }}
                                            </el-timeline-item>
                                        </el-timeline>
                                    </el-col>
                                    <el-col :span="8">
                                        <el-select v-model="value1" placeholder="Select" style="width: 240px" clearable>
                                            <template #label="{ label, value }">
                                                <span>{{ label }}: </span>
                                                <span style="font-weight: bold">{{ value }}</span>
                                            </template>
                                            <el-option v-for="item in options" :key="item.value" :label="item.label"
                                                :value="item.value" />
                                        </el-select>
                                    </el-col>
                                    <el-col :span="8">
                                        <el-select v-model="value2" placeholder="Select" style="width: 240px" clearable
                                            multiple>
                                            <template #label="{ label, value }">
                                                <span>{{ label }}: </span>
                                                <span style="font-weight: bold">{{ value }}</span>
                                            </template>
                                            <el-option v-for="item in options" :key="item.value" :label="item.label"
                                                :value="item.value" />
                                        </el-select>

                                    </el-col>
                                </el-row>
                                <el-row :gutter="16">
                                    <el-col :span="24">
                                        <el-table :data="tableData" style="width: 100%">
                                            <el-table-column prop="date" label="Date" width="180"></el-table-column>
                                            <el-table-column prop="name" label="Name" width="180"></el-table-column>
                                            <el-table-column prop="address" label="Address"></el-table-column>
                                        </el-table>
                                    </el-col>
                                </el-row>

                            </el-main>

                        </el-container>
                    </el-container>
                    <el-footer>

                        <el-descriptions>
                            <el-descriptions-item label="Remarks">
                                <el-tag size="small">School</el-tag>
                            </el-descriptions-item>
                            <el-descriptions-item label="Address">
                                No.1188, Wuzhong Avenue, Wuzhong District, Suzhou, Jiangsu Province
                            </el-descriptions-item>
                        </el-descriptions>

                    </el-footer>
                </el-container>
            </div>

        </div>
        <script type="module" src="./main.js"></script>
    </body>

</html>
