<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Element Plus with ESM Import Map</title>

        <script type="importmap">
            {
                "imports": {
                    "vue": "https://unpkg.com/vue@3.2.45/dist/vue.esm-browser.js",
                    "element-plus": "https://cdn.jsdelivr.net/npm/element-plus@latest/dist/index.full.min.mjs",
                    "element-plus/": "https://cdn.jsdelivr.net/npm/element-plus@latest/"
                }
            }
        </script>

        <link rel="stylesheet" href="https://unpkg.com/element-plus@2.3.4/dist/index.css">

        <!-- DO NOT USE IN PRODUCTION: Sample CSS from the Element Plus site -->
        <!-- DO NOT USE IN PRODUCTION: Sample CSS from the Element Plus site -->
        <!-- DO NOT USE IN PRODUCTION: Sample CSS from the Element Plus site -->
        <!-- <link rel="stylesheet" href="https://element-plus.org/assets/style.B_e9f5k0.css"> -->
        <link rel="stylesheet" href="https://element-plus.org/assets/style.B_e9f5k0.css">
        <style>
            .el-link {
                margin-right: 8px;
            }

            .el-link .el-icon--right.el-icon {
                vertical-align: text-bottom;
            }

        </style>

    </head>

    <body>
        <div id="app">
            <p>Sample - <a :href="sampleUrl" target="_blank">{{ sampleTitle }}</a></p>
            <hr>

            <div>
                <el-link href="https://element-plus.org" target="_blank">default</el-link>
                <el-link type="primary">primary</el-link>
                <el-link type="success">success</el-link>
                <el-link type="warning">warning</el-link>
                <el-link type="danger">danger</el-link>
                <el-link type="info">info</el-link>
            </div>


        </div>
        <script type="module" src="./main.js"></script>
    </body>

</html>
