<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Element Plus with ESM Import Map</title>

        <script type="importmap">
            {
                "imports": {
                    "vue": "https://unpkg.com/vue@3.2.45/dist/vue.esm-browser.js",
                    "element-plus": "https://cdn.jsdelivr.net/npm/element-plus@latest/dist/index.full.min.mjs",
                    "element-plus/": "https://cdn.jsdelivr.net/npm/element-plus@latest/"
                }
            }
        </script>

        <link rel="stylesheet" href="../../styles.css">
    </head>

    <body>
        <div id="app">
            <p>Sample - <a :href="sampleUrl" target="_blank">{{ sampleTitle }}</a></p>
            <hr>

            <el-text class="mx-1">Default</el-text>
            <el-text class="mx-1" type="primary">Primary</el-text>
            <el-text class="mx-1" type="success">Success</el-text>
            <el-text class="mx-1" type="info">Info</el-text>
            <el-text class="mx-1" type="warning">Warning</el-text>
            <el-text class="mx-1" type="danger">Danger</el-text>

        </div>
        <script type="module" src="./main.js"></script>
    </body>

</html>
